In [3]:
#import library
import pandas as pd
from IPython.display import Markdown, display

#read data
rawData = pd.read_excel("..\Data\Exchange_Rate_Report.xlsx",engine='openpyxl')


#convert row 3 to header
rawData.columns = rawData.iloc[1]

'''drop row till October 30 1998,
    drop first two rows
    drop rows from index no 7340
'''
rawData.drop(rawData.index[[0,1]],inplace=True)
rawData.reset_index(drop=True,inplace=True)
rawData.drop(rawData.tail(18).index,inplace = True)
#Convert date time to dates
rawData['Date'] = pd.to_datetime(rawData['Date']).dt.date 


#df_filtered = df[df['Age'] >= 25]
rawData =rawData.loc[rawData['Date'] > pd.to_datetime('1998-10-29')]
rawData.reset_index(drop=True,inplace=True)
print(rawData.columns)
rawData = rawData.rename(columns={'Australian dollar   (AUD)                     ':'AUD',
                        'Canadian dollar   (CAD)                     ':'CAD',
                                 'Euro   (EUR)                     ':'EUR',
                                 'Japanese yen   (JPY)                     ':'JPY',
                                 'New Zealand dollar   (NZD)                     ':'NZD',
                                 'Norwegian krone   (NOK)                     ':'NOK',
                                 'Swedish krona   (SEK)                     ':'SEK',
                                 'Swiss franc   (CHF)                     ':'CHF',
                                 'U.K. pound   (GBP)                     ':'GBP',
                                 'U.S. dollar   (USD)                     ':'USD'})
display(rawData)

#export excel 
rawData.to_excel(r"..\output\rawData.xlsx",index=True,header=True)

Index(['Date', 'Australian dollar   (AUD)                     ',
       'Canadian dollar   (CAD)                     ',
       'Euro   (EUR)                     ',
       'Japanese yen   (JPY)                     ',
       'New Zealand dollar   (NZD)                     ',
       'Norwegian krone   (NOK)                     ',
       'Swedish krona   (SEK)                     ',
       'Swiss franc   (CHF)                     ',
       'U.K. pound   (GBP)                     ',
       'U.S. dollar   (USD)                     '],
      dtype='object', name=1)

1,Date,AUD,CAD,EUR,JPY,NZD,NOK,SEK,CHF,GBP,USD
0,1998-10-30,0.6263,1.5425,1.18398,116.4,0.5285,7.359,7.823,1.3459,1.6773,1
1,1998-11-02,0.6259,1.5318,1.18373,115.3,0.5315,7.3155,7.749,1.3477,1.6676,1
2,1998-11-03,0.6237,1.5238,1.17525,NaN,0.531,7.359,7.8235,1.3561,1.6552,1
3,1998-11-04,0.6308,1.5238,1.1711,115.85,0.5345,7.4015,7.8133,1.3689,1.6527,1
4,1998-11-05,0.6314,1.5176,1.17706,117.6,0.5375,7.4015,7.808,1.3639,1.6594,1
...,...,...,...,...,...,...,...,...,...,...,...
6078,2022-09-28,0.6386,1.366,0.9565,144.66,0.5623,10.9332,11.4328,0.98945,1.0654,1
6079,2022-09-29,0.6466,1.3707,0.9706,144.35,0.57025,10.7684,11.3539,0.9791,1.08325,1
6080,2022-09-30,0.6502,NaN,0.9748,144.74,0.5733,10.8574,11.1227,0.9795,1.1066,1
6081,2022-10-03,NaN,1.3662,0.9764,144.85,0.5625,10.8209,11.0869,0.98995,1.11995,1
6082,2022-10-04,0.6474,1.3574,0.9891,144.7,0.5714,10.6071,10.9065,0.98765,1.1348,1

In [16]:
## more pandas cleaning
#import datetime as dt

for series in rawData:
    print(f"{series} was {rawData[series].dtype}")
    if series == 'Date':
         #pd.to_datetime(rawData[series], "%Y-%m-%d",errors='ignore')
        pass
    else:
        rawData[series] = rawData[series].astype(float)
        
    print(f"{series} is now {rawData[series].dtype}")

Date was object
Date is now object
AUD was object
AUD is now float64
CAD was object
CAD is now float64
EUR was object
EUR is now float64
JPY was object
JPY is now float64
NZD was object
NZD is now float64
NOK was object
NOK is now float64
SEK was object
SEK is now float64
CHF was object
CHF is now float64
GBP was object
GBP is now float64
USD was object
USD is now float64

In [17]:
## sqlite stuff

#import library
import sqlite3

#set up connection to sqlite database
conn = sqlite3.connect('../Data/exchange_rates.sqlite')

#create exchange rates table in database
#(replace 'df' with DataFrame name)
rawData.to_sql('exchange_rates', conn, if_exists='replace')

#might need to commit the above insertion to the connection?

#close sqlite3 connection
conn.close()