In [1]:
#import library
import pandas as pd
from IPython.display import Markdown, display

#read data
rawData = pd.read_excel("..\Data\Exchange_Rate_Report.xlsx",engine='openpyxl')


#convert row 3 to header
rawData.columns = rawData.iloc[1]

'''drop row till October 30 1998,
    drop first two rows
    drop rows from index no 7340
'''
rawData.drop(rawData.index[[0,1]],inplace=True)
rawData.reset_index(drop=True,inplace=True)
rawData.drop(rawData.tail(18).index,inplace = True)
#Convert date time to dates
rawData['Date'] = pd.to_datetime(rawData['Date']).dt.date 


#df_filtered = df[df['Age'] >= 25]
rawData =rawData.loc[rawData['Date'] > pd.to_datetime('1998-10-29')]
rawData.reset_index(drop=True,inplace=True)
print(rawData.columns)
rawData = rawData.rename(columns={'Australian dollar   (AUD)                     ':'AUD',
                        'Canadian dollar   (CAD)                     ':'CAD',
                                 'Euro   (EUR)                     ':'EUR',
                                 'Japanese yen   (JPY)                     ':'JPY',
                                 'New Zealand dollar   (NZD)                     ':'NZD',
                                 'Norwegian krone   (NOK)                     ':'NOK',
                                 'Swedish krona   (SEK)                     ':'SEK',
                                 'Swiss franc   (CHF)                     ':'CHF',
                                 'U.K. pound   (GBP)                     ':'GBP',
                                 'U.S. dollar   (USD)                     ':'USD'})
display(rawData)

#export excel 
rawData.to_excel(r"..\output\rawData.xlsx",index=True,header=True)

Index(['Date', 'Australian dollar   (AUD)                     ',
       'Canadian dollar   (CAD)                     ',
       'Euro   (EUR)                     ',
       'Japanese yen   (JPY)                     ',
       'New Zealand dollar   (NZD)                     ',
       'Norwegian krone   (NOK)                     ',
       'Swedish krona   (SEK)                     ',
       'Swiss franc   (CHF)                     ',
       'U.K. pound   (GBP)                     ',
       'U.S. dollar   (USD)                     '],
      dtype='object', name=1)

1,Date,AUD,CAD,EUR,JPY,NZD,NOK,SEK,CHF,GBP,USD
0,1998-10-30,0.6263,1.5425,1.18398,116.4,0.5285,7.359,7.823,1.3459,1.6773,1
1,1998-11-02,0.6259,1.5318,1.18373,115.3,0.5315,7.3155,7.749,1.3477,1.6676,1
2,1998-11-03,0.6237,1.5238,1.17525,NaN,0.531,7.359,7.8235,1.3561,1.6552,1
3,1998-11-04,0.6308,1.5238,1.1711,115.85,0.5345,7.4015,7.8133,1.3689,1.6527,1
4,1998-11-05,0.6314,1.5176,1.17706,117.6,0.5375,7.4015,7.808,1.3639,1.6594,1
...,...,...,...,...,...,...,...,...,...,...,...
6078,2022-09-28,0.6386,1.366,0.9565,144.66,0.5623,10.9332,11.4328,0.98945,1.0654,1
6079,2022-09-29,0.6466,1.3707,0.9706,144.35,0.57025,10.7684,11.3539,0.9791,1.08325,1
6080,2022-09-30,0.6502,NaN,0.9748,144.74,0.5733,10.8574,11.1227,0.9795,1.1066,1
6081,2022-10-03,NaN,1.3662,0.9764,144.85,0.5625,10.8209,11.0869,0.98995,1.11995,1
6082,2022-10-04,0.6474,1.3574,0.9891,144.7,0.5714,10.6071,10.9065,0.98765,1.1348,1

In [2]:
## more pandas cleaning
#import datetime as dt

for series in rawData:
    print(f"{series} was {rawData[series].dtype}")
    if series == 'Date':
         #pd.to_datetime(rawData[series], "%Y-%m-%d",errors='ignore')
        pass
    else:
        rawData[series] = rawData[series].astype(float)
        
    print(f"{series} is now {rawData[series].dtype}")
rawData['Month'] = [rawData['Date'][i].month for i in range(0,len(rawData['Date']))]
rawData['Year'] = [rawData['Date'][i].year for i in range(0,len(rawData['Date']))]
rawData

Date was object
Date is now object
AUD was object
AUD is now float64
CAD was object
CAD is now float64
EUR was object
EUR is now float64
JPY was object
JPY is now float64
NZD was object
NZD is now float64
NOK was object
NOK is now float64
SEK was object
SEK is now float64
CHF was object
CHF is now float64
GBP was object
GBP is now float64
USD was object
USD is now float64

1,Date,AUD,CAD,EUR,JPY,NZD,NOK,SEK,CHF,GBP,USD,Month,Year
0,1998-10-30,0.6263,1.5425,1.18398,116.40,0.52850,7.3590,7.8230,1.34590,1.67730,1.0,10,1998
1,1998-11-02,0.6259,1.5318,1.18373,115.30,0.53150,7.3155,7.7490,1.34770,1.66760,1.0,11,1998
2,1998-11-03,0.6237,1.5238,1.17525,NaN,0.53100,7.3590,7.8235,1.35610,1.65520,1.0,11,1998
3,1998-11-04,0.6308,1.5238,1.17110,115.85,0.53450,7.4015,7.8133,1.36890,1.65270,1.0,11,1998
4,1998-11-05,0.6314,1.5176,1.17706,117.60,0.53750,7.4015,7.8080,1.36390,1.65940,1.0,11,1998
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6078,2022-09-28,0.6386,1.3660,0.95650,144.66,0.56230,10.9332,11.4328,0.98945,1.06540,1.0,9,2022
6079,2022-09-29,0.6466,1.3707,0.97060,144.35,0.57025,10.7684,11.3539,0.97910,1.08325,1.0,9,2022
6080,2022-09-30,0.6502,NaN,0.97480,144.74,0.57330,10.8574,11.1227,0.97950,1.10660,1.0,9,2022
6081,2022-10-03,NaN,1.3662,0.97640,144.85,0.56250,10.8209,11.0869,0.98995,1.11995,1.0,10,2022
6082,2022-10-04,0.6474,1.3574,0.98910,144.70,0.57140,10.6071,10.9065,0.98765,1.13480,1.0,10,2022

In [100]:
## add id column
cleanedData = rawData.reset_index()
cleanedData = cleanedData.rename(columns={"index":"id"})
cleanedData = cleanedData[['id','Date','Month','Year','AUD','CAD','EUR','JPY','NZD','NOK','SEK','CHF','GBP','USD']]
cleanedData

cleanedData.to_excel(r"..\output\cleanedData.xlsx",index=True,header=True)

#group by year 
groupByYear=cleanedData.groupby('Year',as_index=False)['AUD','CAD','EUR','JPY','NZD','NOK','SEK','CHF','GBP','USD'].mean().round(3) 
display(groupByYear)

#transpose the data
transposegroupByYear=groupByYear.T
transposegroupByYear.columns = transposegroupByYear.iloc[0]
transposegroupByYear=transposegroupByYear.drop(transposegroupByYear.index[0])
transposegroupByYear.reset_index(inplace=True)
#transposegroupByYear = transposegroupByYear.rename_axis("", axis=1)
#rename columns and convert them to float
transposegroupByYear = transposegroupByYear.rename(columns = {1.0:'Country',
                                                                1998.0:'y1998',
                                                                1999.0:'y1999', 
                                                                2000.0:'y2000',
                                                                2001.0:'y2001',
                                                                2002.0:'y2002',
                                                                2003.0:'y2003',
                                                                2004.0:'y2004',
                                                                2005.0:'y2005',
                                                                2006.0:'y2006', 
                                                                2007.0:'y2007',
                                                                2008.0:'y2008', 
                                                                2009.0:'y2009',
                                                                2010.0:'y2010',
                                                                2011.0:'y2011',
                                                                2012.0:'y2012', 
                                                                2013.0:'y2013',
                                                                2014.0:'y2014',
                                                                2015.0:'y2015',
                                                                2016.0:'y2016',
                                                                2017.0:'y2017',
                                                                2018.0:'y2018',
                                                                2019.0:'y2019',
                                                                2020.0:'y2020',
                                                                2021.0:'y2021',
                                                                2022.0:'y2022'})



display(transposegroupByYear)

C:\Users\cnr2231\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  # Remove the CWD from sys.path while we load stuff.

1,Year,AUD,CAD,EUR,JPY,NZD,NOK,SEK,CHF,GBP,USD
0,1998,0.627,1.541,1.169,118.923,0.529,7.510,8.017,1.371,1.666,1.0
1,1999,0.645,1.486,1.066,113.957,0.529,7.803,8.266,1.504,1.618,1.0
2,2000,0.582,1.485,0.924,107.782,0.457,8.805,9.181,1.690,1.515,1.0
3,2001,0.518,1.548,0.896,121.586,0.421,8.989,10.327,1.688,1.440,1.0
4,2002,0.544,1.570,0.945,125.143,0.464,7.991,9.734,1.555,1.503,1.0
5,2003,0.653,1.402,1.131,115.980,0.582,7.086,8.089,1.346,1.635,1.0
6,2004,0.736,1.307,1.244,108.167,0.664,6.737,7.351,1.243,1.832,1.0
7,2005,0.762,1.211,1.244,110.210,0.704,6.450,7.460,1.246,1.819,1.0
8,2006,0.753,1.133,1.256,116.289,0.649,6.412,7.376,1.254,1.843,1.0
9,2007,0.839,1.075,1.370,117.793,0.736,5.854,6.758,1.200,2.002,1.0
10,2008,0.854,1.066,1.471,103.408,0.714,5.640,6.595,1.083,1.854,1.0
11,2009,0.793,1.142,1.395,93.617,0.636,6.285,7.646,1.086,1.566,1.0
12,2010,0.919,1.030,1.326,87.807,0.721,6.044,7.207,1.043,1.546,1.0
13,2011,1.033,0.989,1.392,79.771,0.792,5.610,6.495,0.888,1.604,1.0
14,2012,1.036,1.000,1.285,79.790,0.810,5.823,6.773,0.938,1.585,1.0
15,2013,0.969,1.029,1.328,97.654,0.821,5.873,6.512,0.927,1.564,1.0
16,2014,0.903,1.105,1.329,105.625,0.831,6.304,6.863,0.915,1.648,1.0
17,2015,0.752,1.279,1.109,121.106,0.699,8.077,8.437,0.963,1.529,1.0
18,2016,0.745,1.324,1.107,108.693,0.698,8.396,8.556,0.985,1.356,1.0
19,2017,0.767,1.299,1.130,112.112,0.711,8.260,8.535,0.985,1.289,1.0
20,2018,0.748,1.295,1.182,110.400,0.692,8.129,8.691,0.978,1.336,1.0
21,2019,0.695,1.327,1.120,108.999,0.659,8.801,9.462,0.994,1.276,1.0
22,2020,0.689,1.342,1.140,106.801,0.649,9.422,9.220,0.939,1.282,1.0
23,2021,0.752,1.254,1.184,109.765,0.708,8.587,8.567,0.914,1.376,1.0
24,2022,0.707,1.283,1.063,128.483,0.646,9.455,9.930,0.952,1.256,1.0

Year,Country,y1998,y1999,y2000,y2001,y2002,y2003,y2004,y2005,y2006,...,y2013,y2014,y2015,y2016,y2017,y2018,y2019,y2020,y2021,y2022
0,AUD,0.627,0.645,0.582,0.518,0.544,0.653,0.736,0.762,0.753,...,0.969,0.903,0.752,0.745,0.767,0.748,0.695,0.689,0.752,0.707
1,CAD,1.541,1.486,1.485,1.548,1.570,1.402,1.307,1.211,1.133,...,1.029,1.105,1.279,1.324,1.299,1.295,1.327,1.342,1.254,1.283
2,EUR,1.169,1.066,0.924,0.896,0.945,1.131,1.244,1.244,1.256,...,1.328,1.329,1.109,1.107,1.130,1.182,1.120,1.140,1.184,1.063
3,JPY,118.923,113.957,107.782,121.586,125.143,115.980,108.167,110.210,116.289,...,97.654,105.625,121.106,108.693,112.112,110.400,108.999,106.801,109.765,128.483
4,NZD,0.529,0.529,0.457,0.421,0.464,0.582,0.664,0.704,0.649,...,0.821,0.831,0.699,0.698,0.711,0.692,0.659,0.649,0.708,0.646
5,NOK,7.510,7.803,8.805,8.989,7.991,7.086,6.737,6.450,6.412,...,5.873,6.304,8.077,8.396,8.260,8.129,8.801,9.422,8.587,9.455
6,SEK,8.017,8.266,9.181,10.327,9.734,8.089,7.351,7.460,7.376,...,6.512,6.863,8.437,8.556,8.535,8.691,9.462,9.220,8.567,9.930
7,CHF,1.371,1.504,1.690,1.688,1.555,1.346,1.243,1.246,1.254,...,0.927,0.915,0.963,0.985,0.985,0.978,0.994,0.939,0.914,0.952
8,GBP,1.666,1.618,1.515,1.440,1.503,1.635,1.832,1.819,1.843,...,1.564,1.648,1.529,1.356,1.289,1.336,1.276,1.282,1.376,1.256
9,USD,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,...,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000

In [103]:
## sqlite stuff

#import library
import sqlite3

#set up connection to sqlite database
conn = sqlite3.connect('../Data/exchange_rates.sqlite')

#create exchange rates table in database
cleanedData.to_sql('exchange_rates', conn, if_exists='replace')

In [104]:
#create average currency per year table in database
conn = sqlite3.connect('../Data/avgCurnCountry.sqlite')
transposegroupByYear.to_sql('avgCurnCountry', conn, if_exists='replace')

#close sqlite3 connection
conn.close()